# .dockerignore
node_modules
**/node_modules
**/dist
**/build
.turbo
.git
.gitignore
README.md
*.log

git
.gitignore
.github

.env
.env.*
!.env.example

.DS_Store
Thumbs.db
.vscode
.idea

*.md
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*